@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.navbar {
  background-color: #000000;
  padding: 20px 0;
  font-size: 16px;
  
}

.imglogo{
  height: 40px;
}


.nav-link {
  color: #ffffff;
  font-weight: 700;
  padding: 0 10px;
  text-decoration: none;
}

.nav-dropdown {
  padding: 0 10px;

}
.nav-dropdown-item {
  font-weight: 700;
  padding: 10px;
}

.sign-up {
  background-color: #f8e11c;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 0%;

}




